includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon

parameters:
    checkMissingIterableValueType: false

    ignoreErrors:
        - '#Function get_field not found#'

    paths:
        - src

    level: 9